#wrapper{
	width:980;
	height:100%;
	margin:auto;
	margin-left:20px;
}
.detail{
	margin-top:6px;
}
.submit{
	margin-top:6px;
	border-radius:3px;
}
.text{
	margin-bottom:2px;
	font-size:18px;
	font-weight:bold;
}